body{
    background-image: url("netflix.jpg");
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center center;
max-width:70%;
background-repeat: no-repeat;
max-height: 600%;
    margin-top: 100px;

    
    }
p{
    color:azure
}
h1{
    color:blue
}