body{
    background-color: blue;
    background-image: url("");
    max-height: 600%;
    background-size: cover;
background-position: center center;
max-width:70%;
background-repeat: no-repeat;
}

img{
    filter:grayscale(0%);
}

img:active{
    filter:grayscale(100%);
}

