h2::first-letter{
    text-transform: uppercase;
    color:yellow;
}

.one::before{
content: "kiran";
color:blueviolet;
}
 .two::after{
    content: "donga";
    
 }
 p::first-letter{
    text-transform: uppercase;
 }
 p::first-line{
    color:blue;
 }

 #c{
    width: 200px;
    height:200px;
    background-color:chartreuse;
    text-align: center;
    justify-items: center;
    padding:20px;
    
    box-shadow: 10px 20px 10px 12px gray;

 }
 
 .box{
   width:100px;
   height: 100px;
   background-color: blueviolet;
   animation-name: test;
   animation-duration: 3s;
   animation-iteration-count: 5;
   animation-direction: alternate;
   margin-top: 100px;   


 }
 .box{
   animation-name: test;
     animation-duration: 3s;
     animation-iteration-count: 5;
     animation-delay: 1s;
     animation-play-state: paused;
 }
   .box:hover{
      animation-play-state: running;
   }
 .box2{
   animation-timing-function: ease-in;
 }
 @keyframes test {
     0%{
      
      background-color:brown;
      
     }
     
     100%{
         
   transform: translateX(500px);
      background-color:rgb(30, 210, 48);
      

     }
   
 }

